@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.root {
    padding: 36px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    letter-spacing: 1.15px;
    color: rgb(36, 62, 99);
    border-width: 0px;
    border-style: solid;
    border-color: rgb(226, 232, 240);
}

.purple {
    color: rgba(100, 21, 255, 1.0);
}

a {
    color: rgb(0, 0, 0);
}

ul {
    display: flex;
}

h5 {
    color: rgba(100, 21, 255, 1.0);
    font-weight: 700;
}

.nav__li {
    list-style-type: none;
    padding: 8px 24px;
    font-size: 18px;
    font-weight: 500;
}

button {
    cursor: pointer;
    appearance: button;
}

.btn {
    background-color: rgba(100, 21, 255, 1.0);
    border: none;
    border-radius: 36px;
    padding: 14px 28px;
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.btn:hover {
    background-color: rgb(66, 15, 169);
    border-color: none;
    transition: 200ms;
}

/* 

NAV 

*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    height: 44px;
    width: 100%;
    max-width: 1200px;
}

.Treact__logo {
    max-width: 44px;
}

.logo__text {
    padding-left: 14px;
    font-weight: 900;
    letter-spacing: 1.25px;
}

.nav__link--logo {
    display: flex;
    align-items: center;
    border-bottom-width: 0px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.nav__link {
    text-decoration: none;
}

.nav__link:hover {
    text-decoration: underline;
    color: rgba(100, 21, 255, 1.0);
    transition: all 200ms ease;
}

.primary:hover {
    background-color: rgb(66, 15, 169);
    border-color: none;
    transition: 200ms;
} 


.nav__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login {
    margin-left: 60px;
}

.primary {
    padding: none;
    background-color: rgba(100, 21, 255, 1.0);
    border-radius: 36px;
    border: 2px solid;
    padding: 16 56px;
    border: none;
}

.nav__link--primary {
    color: white;
    text-decoration: none;

}

/* HEADER */

.header__row {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 100px 0px;

}

.header__description {
    position: relative;
    width: 41%;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
}

.header__description--title {
    font-size: 42px;
    text-align: left;
}

.header__description--para {
    margin-top: 32px;
    margin-bottom: 64px;
}

.header__input--wrapper {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}

.header__customerlogo {
    width: 100%;
    margin-top: 100px;
    opacity: 40%;
}

.logostrip {
    width: 100%;
    padding-top: 16px;
}


.emailbox {
    width: 100%;
    border-radius: 30px;
    border-width: 3px;
    font-size: 18px;
    padding-top: 18px;
    padding-bottom: 18px;
    opacity: 50%;
}

.header__img {
    width: 100%;
    position: relative;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    justify-content: center;
}

.header__img--wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.design {
    max-width: 100%;
    min-width: 0px;
    max-width: 512px;
}

.header__decorationBlob {
    pointer-events: none;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: -10;
    height: 256px;
    width: 256px;
    transform: translateX(-55%);
    opacity: 0.05;
    display: block;
    
    
}


/* 

FEATURES

*/

.features__container {
    position: relative;
}

.features__row {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 1200px;
    padding: 80px 0px;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.features__subheading {
    font-size: 18px;
    margin-bottom: 16px;
}

.features__heading {
    width: 100%;
    font-size: 56px;
    text-align: center;
    font-weight: 900;
}

.features__para {
    width: 100%;
    margin-top: 16px;
    text-align: center;
    font-size: 18px;
    max-width: 576px;
    font-weight: 500;
    line-height: 1.625;
    color: rgb(124, 139, 161);
}

.column__container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 100%;
    padding: 60px 0px;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.features__column {
    max-width: 384px;
    width: calc(100% / 3);
}

.features__card {
    display: flex;
    height: 100%;
    margin-right: 16px;
    margin-left: 16px;
    padding: 32px 8px;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
}

.imageContainer {
    border-radius: 9999px;
    border-width: 1px;
    padding: 18px 18px;
    display: flex;
    align-items: center;
    border-style: solid;
    border-color: rgb(124, 139, 161);
}

.textContainer {
    margin-left: 16px;
    margin-top: 8px;
}

.title {
    margin-top: 16px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1px;
}

.description {
    margin-top: 8px;
    font-weight: 500;
    line-height: 2;
    color: rgb(124, 139, 161);
    font-size: 18px;
}

.features__decorationsBlob {
    pointer-events: none;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 256px;
    transform: translateX(50%);
    opacity: 0.05;
    display: flex;

}

/* 

QUALITY 

*/

.quality__container {
    position: relative;
}

.quality__row {
    padding: 80px 0px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.left__column {
    width: 50%;
    margin-right: 64px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.right__column {
    width: 50%;
}

.quality__img--wrapper {
    width: 100%;
    border: solid;
    border-width: 1px;
    border-color: rgba(124, 139, 161, 0.25);
    border-radius: 4px;
}

.heroScreenshot {
    width: 100%;
}

.quality__subheading {
    font-size: 18px;
}

.quality__heading {
    width: 100%;
    font-size: 56px;
    text-align: left;
    font-weight: 900;
    margin-top: 16px;
}

.quality__para {
    width: 100%;
    margin-top: 16px;
    text-align: left;
    font-size: 18px;
    max-width: 576px;
    font-weight: 500;
    line-height: 1.625;
    color: rgb(124, 139, 161);
    margin-bottom: 32px;
}

/* 

STEPS 

*/

.steps__container {
position: relative;
}

.steps__row {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 80px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.laptop {
    width: 50%;
    display: flex;
    align-items: center;
}
.steps__laptop {
    width: 100%;
}

.steps__column {
    width: 50%;
    margin-left: 64px;
    padding: 32px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.steps__subheading {
    font-size: 18px;
}

.steps__heading {
    width: 100%;
    font-size: 56px;
    text-align: left;
    font-weight: 900;
    margin-top: 16px;
}

.steps__list {
    width: 100%;
    padding-top: 49px;
    display: flex;
    flex-direction: column;
}

.steps__list--item {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.step__number {
    font-size: 48px;
    font-weight: 600;
    line-height: 1;
    color: rgba(203, 213, 224, .75);
}

.step__text {
    margin-left: 24px;
}

.step__heading {
    font-size: 28px;
    font-weight: 600;
    line-height: 1;
}

.step__description {
    margin-top: 12px;
    max-width: 320px;
    font-size: 12;
    font-weight: 500;
    line-height: 2;
    color: rgba(113, 128, 150, 0.75);
}

/* 

VALUES

*/

.values__container {
    position: relative;
}

.values__row {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 80px 0px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.values__imgContainer {
    width: 50%;
}

.values__proto {
    width: 100%;
}

.values__textColumn {
    width: 50%;
    margin-right: 64px;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
}

.values__subheading {
    font-size: 18px;
}

.values__heading {
    width: 100%;
    font-size: 48px;
    text-align: left;
    font-weight: 900;
    margin-top: 16px;
}

.values__para {
    font-size: 18px;
    text-align: left;
    margin-top: 32px;
    font-weight: 500;
    line-height: 1.625;
    color: rgba(124, 139, 161, 0.95);
}

.values__keypoints {
    display: flex;
    flex-direction: row;
}

.values__keypoint--wrapper1 {
    margin-top: 32px;
    margin-right: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.values__keypoint--wrapper2 {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.keypoint__headingContainer {
    display: flex;
    align-items: center;
}

.keypoint__iconContainer1 {
    background-color: rgb(154, 230, 180);
    color: rgb(39, 103, 73);
    padding: 8px 8px;
    border-radius: 45px;
}

.feather-dollar-sign {
    width: 24px;
    height: auto;
    display: flex;
    align-items: center;
}

.keypoint__iconContainer2 {
    background-color: rgb(254, 178, 178);
    color: rgb(155, 44, 44);
    padding: 8px 8px;
    border-radius: 45px;
}

.feather-briefcase {
    width: 24px;
    height: auto;
    display: flex;
    align-items: center;
}

.keypoint__heading--text {
    margin-left: 12px;
    font-size: 20px;
    font-weight: 700;
}

.keypoint__description {
    margin-top: 16px;
    line-height: 1.625;
    color: rgba(113, 128, 150, 1);
}

.values__btn {
    margin-top: 48px;
    display: inline-block;
    text-align: center;
    background-color: rgba(100, 21, 255, 1.0);
    border: none;
    border-radius: 36px;
    padding: 14px 28px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    width: 180px;
}

/* 

PRICING 

*/

.pricing__container {
    position: relative;
}

.pricing__row {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.pricing__header{
    margin-top: 40px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.pricing__heading {
    width: 100%;
    font-size: 56px;
    text-align: center;
    font-weight: 900;
    letter-spacing: 1px;
}

.pricing__subheading {
    font-size: 18px;
    margin-bottom: 16px;
}

.pricing__para {
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-top: 16px;
    max-width: 576px;
    font-weight: 500;
    line-height: 1.625;
    color: rgb(124, 139, 161);
}

.pricing__plans {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

.plan__container {
    margin-right: 32px;
    position: relative;
    margin-top: 64px;
    display: flex;
    width: 100%;
    max-width: 384px;
    flex-direction: column;
    border-width: 1px;
    border-radius: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    text-align: center;
    color: rgb(26, 32, 44);
}

.plan__highlight1 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__header {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;
    text-transform: uppercase;
    line-height: 1.625;
}

.name {
    font-size: 20px;
    font-weight: 700;
}

.price {
    margin-top: 4px;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 48px;
}

.duration {
    font-weight: 700;
    letter-spacing: 1.6px;
    color: rgb(160 174 192);
}

.plan__features {
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-style: solid;
    border-color: rgb(226, 232, 240);
    border-width: 1px;
    margin-left: -32px;
    margin-right: -32px;
}


.feature {
    color: rgb(113 128 150);
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
}

.Main__feature {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.feature:first-child {
    margin-top: 0px;
    color: rgb(36, 62, 99);
}

.plan__action {
    padding: 32px 32px;
    text-align: center;
}

.personal__plan {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    width: 100%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    border-radius: 9999px;
    padding: 16px 32px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1.0px;
    font-weight: 700;
    color: rgb(247, 250, 252);
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
}

.personal__plan:hover {
    --tw-shadow: 0 20px 25px -5px rgba(0,0,0,0.1), 0 10px 10px -5px rgba(0,0,0,0.04);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 10px 10px -5px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-translate-x: 1px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-translate-y: -1px;
}

.enterprise__plan {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    width: 100%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    border-radius: 9999px;
    padding: 16px 32px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1.0px;
    font-weight: 700;
    color: rgb(247, 250, 252);
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
}

.enterprise__plan:hover {
    --tw-shadow: 0 20px 25px -5px rgba(0,0,0,0.1), 0 10px 10px -5px rgba(0,0,0,0.04);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 10px 10px -5px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-translate-x: 1px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-translate-y: -1px;
}

.plan__highlight3 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.business__plan {
    background: rgb(247, 250, 252);
    width: 100%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    border-radius: 9999px;
    padding: 16px 32px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1.0px;
    font-weight: 700;
    color: rgb(100, 21, 255);
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
}

.business__plan:hover {
    --tw-shadow: 0 20px 25px -5px rgba(0,0,0,0.1), 0 10px 10px -5px rgba(0,0,0,0.04);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 10px 10px -5px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-translate-x: 1px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-translate-y: -1px;
}

.special {
    margin-right: 32px;
    position: relative;
    margin-top: 64px;
    display: flex;
    width: 100%;
    max-width: 384px;
    flex-direction: column;
    border-radius: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    text-align: center;

    --tw-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.06);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    background-position: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    --tw-bg-opacity: 1;
    background-color: rgb(100 21 255 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(247, 250, 252);
    
}

.special .feature:not(.Main__feature) {
    --tw-text-opacity: 1 !important;
    color: rgb(226 232 240);
} 

.spcl {
    color: rgb(247 250 252) !important;
}